body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: aliceblue;
}
h1{
    text-align: center;
    color: blue;
}
form{
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    background-color: gold;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
input[type="text"],input[type="email"],input[type="password"]{
    width: 100%;
    padding: 5px;
    margin: 5px 0;
    border: 2px solid greenyellow;
    background-color: white;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}